<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TN Automation Test Suite">
<listeners>
<listener class-name="com.tutorialsNinja.qa.listeners.MyListeners"></listener>
</listeners>
  <test name="TN Tests">
  <classes>
  <class name="com.tutorialsNinja.qa.testcases.RegisterTest"></class>
  <class name="com.tutorialsNinja.qa.testcases.LoginTest"></class>
  <class name="com.tutorialsNinja.qa.testcases.SearchTest"></class>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
